<mat-toolbar class="app-toolbar-container" color="primary">
  <div>
    <button (click)="toggleSidenav.emit()" mat-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>iDepot</span>
  </div>
  <div *ngIf="isAuthenticated">
    <button
      [matMenuTriggerFor]="settingsMenu"
      class="app-auth-button"
      mat-icon-button
      matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
    <button class="app-auth-button" mat-icon-button matTooltip="Profile">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
