.app-view {
    width: 100vw;
    height: 100vh;
}

mat-sidenav-container {
    height: 100vh;
}

.sidenav a {
    font-family: Coves-Bold;
}

button {
    width: 100%;
}

h1 {
    font-family: Coves-Bold;
}

.content {
    margin-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

.sidenav {
    width: 20vw;
    background-color: #eee;
    text-align: center;
}