<h1 mat-dialog-title>Add new transaction</h1>
<div mat-dialog-content>
    <p>ISIN:</p>
    <mat-form-field appearance="fill">
        <mat-label>ISIN</mat-label>
        <input matInput [(ngModel)]="data.isin">
    </mat-form-field>
    <p>Amount:</p>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="data.amount">
    </mat-form-field>
    <p>Buy Price:</p>
    <mat-form-field appearance="fill">
        <mat-label>Buy Price</mat-label>
        <input matInput [(ngModel)]="data.buyPrice">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data">Create</button>
</div>
