<table [dataSource]="transactions" mat-table>
  <ng-container matColumnDef="transaction_type">
    <th *matHeaderCellDef mat-header-cell>Type</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.type }}
    </td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th *matHeaderCellDef mat-header-cell>Created</th>
    <td *matCellDef="let element" mat-cell>{{ element.created }}</td>
  </ng-container>
  <ng-container matColumnDef="stock_name">
    <th *matHeaderCellDef mat-header-cell>Stock</th>
    <td *matCellDef="let element" mat-cell>{{ element.stockName }}</td>
  </ng-container>
  <ng-container matColumnDef="buy_price">
    <th *matHeaderCellDef mat-header-cell>Buy Price</th>
    <td *matCellDef="let element" mat-cell>{{ element.buyPrice }}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th *matHeaderCellDef mat-header-cell>Amount</th>
    <td *matCellDef="let element" mat-cell>{{ element.amount }}</td>
  </ng-container>
  <ng-container matColumnDef="investment_value">
    <th *matHeaderCellDef mat-header-cell>Investment</th>
    <td *matCellDef="let element" mat-cell>{{ element.investmentValue }}€</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="row.type === 'BUY' ? 'make-green' : 'make-red'"
    mat-row></tr>
</table>
