<h1 mat-dialog-title>Create investment</h1>
<div class="form-container" mat-dialog-content>
  <mat-form-field>
    <mat-label>ISIN</mat-label>
    <input [(ngModel)]="investment.isin" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="investment.amount" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Buyprice</mat-label>
    <input [(ngModel)]="investment.buyPrice" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [(ngModel)]="investment.name" matInput />
  </mat-form-field>
</div>
<div class="action-container" mat-dialog-actions>
  <button [mat-dialog-close]="investment" color="accent" mat-raised-button>
    Ok
  </button>
  <button [mat-dialog-close]="" mat-raised-button>Cancle</button>
</div>
