<div class="container">
  <form>
    <mat-form-field>
      <input
        [formControl]="email"
        matInput
        placeholder="alex@alex.de"
        required
        type=""
      />
    </mat-form-field>
    <mat-form-field>
      <input
        [formControl]="password"
        matInput
        placeholder="password"
        required
        type="password"
      />
    </mat-form-field>
    <button (click)="login()" mat-raised-button>Login</button>
  </form>
  <p>No Account? => <a href="register">Register</a></p>
</div>
