<iDepot-toolbar (toggleSidenav)="sidenav.toggle()" />

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    [opened]="true"
    class="app-sidenav mat-elevation-z24"
    mode="side">
    <mat-nav-list class="app-nav-list">
      <mat-list-item routerLink="/main/home">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </mat-list-item>
      <mat-list-item routerLink="/main/investments">
        <mat-icon matListItemIcon>apartment</mat-icon>
        <div matListItemTitle>Investments</div>
      </mat-list-item>
      <mat-list-item routerLink="/main/transaction-history">
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>Transaction History</div>
      </mat-list-item>
      <mat-list-item routerLink="/main/dividends">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        <div matListItemTitle>Dividends</div>
      </mat-list-item>
      <mat-list-item routerLink="/main/deposit-account">
        <mat-icon matListItemIcon>account_balance</mat-icon>
        <div matListItemTitle>Deposit Account</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
