.app-sidenav-container {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.app-sidenav-content {
  padding: 8px;
}

.app-sidenav {
  width: fit-content;
  padding-left: 1%;
  padding-right: 1%;
}

.app-nav-list {
  display: flex;
  flex-direction: column;
}

mat-list-item div {
  font-weight: bold;
}
