@font-face {
  font-family: "Coves-Light";
  src: url('/assets/Coves-Light.ttf');;
}

@font-face {
  font-family: "Coves-Bold";
  src: url('/assets/Coves-Bold.ttf');;
}

body {
  margin: 0;
}

* {
  font-family: "Coves-Light";
}