<div *ngIf="gefundeneAktien.length">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="gefundeneAktien">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="isin">
                    <th mat-header-cell *matHeaderCellDef>ISIN</th>
                    <td mat-cell *matCellDef="let element">{{ element.isin }}</td>
                </ng-container>
                <ng-container matColumnDef="wkn">
                    <th mat-header-cell *matHeaderCellDef>WKN</th>
                    <td mat-cell *matCellDef="let element">{{ element.wkn }}</td>
                </ng-container>
                <ng-container matColumnDef="kaufkurs">
                    <th mat-header-cell *matHeaderCellDef>Kaufkurs</th>
                    <td mat-cell *matCellDef="let element">{{ element.kaufkurs }}</td>
                </ng-container>
                <ng-container matColumnDef="anzahl">
                    <th mat-header-cell *matHeaderCellDef>Anzahl</th>
                    <td mat-cell *matCellDef="let element">{{ element.anzahl }}</td>
                </ng-container>
                <ng-container matColumnDef="boerse">
                    <th mat-header-cell *matHeaderCellDef>Boerse</th>
                    <td mat-cell *matCellDef="let element">{{ element.boerse }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>